 /* Aba de alteração botão */
 alterar.input{
  background-color: #22222B;
  height: 8%; 
  width:  30%;
  margin-top:1%;
  border: 5px solid rgb(255, 255, 255);
  background-color: azure;
  border-radius: 20px 20px 20px;
 

}





 /* Aba de alteração botão */
alterar.input[type=submit] {
  background-color: #22222B;
  height: 8%; 
  width:  24%;
  margin-top:1%;
  border: 5px solid rgb(233, 3, 3);
  background-color: rgb(233, 3, 3);
  color: rgb(255, 255, 255);
  border-radius: 20px 20px 20px;

}


 /* Aba de alteração botão */
input[type=submit]:hover{
  background-color: rgb(165, 7, 7);
  text-decoration: none;
  border: 5px solid rgb(165, 7, 7);

}



 /* Boby*/
#Obras {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    /*border: 1px solid #ccc;*/
    margin-top:10%;
  }

 /* Capas */

#Capas {
    color: #ffffff;
  }



 /* Link */
a {
    color: #ffffff;
  }



 /* Estilo Descrição */

 #Informacaoes2 {
    margin: 0 auto;
    padding: 20px;
    /*border: 1px solid #ccc;*/
    color: #ffffff;
    margin-top:-340px;
    margin-left:360px;
  }


  
 #Notificacao {
  margin-top: 168px;
  margin-left: 40px;
}

  
  /* Estilo para o nome do filme */
  .nome {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Estilo para a descrição do filme */
  .Email {
    font-size: 18px;
    margin-bottom: 10px;
    width: 70%;
  }
  



@media (max-width: 600px) {

  #Obras {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    margin-top:30%;
  }

  
}


